<div class="alert alert-danger">
    <h1>Error</h1>
    <p>
        <h2><%= message %></h2>
    </p>
    <p>
        <h2><%= error.status %></h2>
    </p>
    <p>
        <pre>
            <%= error.stack %>
        </pre>
    </p>
</div>