<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trainer Monkey Manager</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" type="text/css" href="/css/jquery-jvectormap.css">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" type="text/css" href="/css/skin-blue.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/selectize.css">
  <link rel="stylesheet" type="text/css" href="/css/selectize.bootstrap3.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/easy-autocomplete.min.css">
  <link rel="stylesheet" type="text/css" href="/css/easy-autocomplete.themes.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/jquery.auto-complete.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/select2-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- <base href="https://trainer.pwrd.pro"> -->
</head>