<!DOCTYPE html>
<html>
<% include partials/head %>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<%- include('partials/header', {username: 'Ryahn', role: 'monkey'})%>
<%- include('partials/sidebar', {username: 'Ryahn', role: 'monkey'}) %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- content %>
  </div>
  <!-- /.content-wrapper -->

  <% include partials/footer %>

  </div>
<!-- /wrapper -->
<% include partials/scripts %>
</body>
</html>